* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.page-not-found {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.page-not-found-btn {
  display: flex;
  justify-content: center;
}

button {
  margin: 2px;
  border-radius: 7px;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
  background-color: coral;
}



