* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

em {
  display: block;
  width: 100%;
  padding: 3px;
}

input {
  border: none;
  font-size: 18px;
  background-color: rgb(223, 250, 241);
}

input:disabled {
  background-color: white;
  color: black;
  font-size: 18px;
}

input:focus {
  outline: none;
  background-color: rgb(144, 250, 215);
}

button {
  margin: 2px;
  border-radius: 7px;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.delete-btn {
  background-color: rgb(238, 102, 102);
}

.details-btn {
  background-color: rgb(29, 180, 250);
}
/*
.show-border-input {
  border: solid black 1px;
} */
